<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Expense Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .navbar-color {
              background-color: rgb(255, 212, 174);
          }
        .boda {
          background-color: lightgoldenrodyellow;
        }
        .btn-monthly{
          background-color: #b3cf99;
           
        }
        .btn-balance{
          background-color: #c7dbd5;
        }
        .btn-logout{
          background-color: rgb(207, 188, 207);
        }
        p{
            background-color: rgb(236, 209, 132);
            color: black;
        }
        .modal-header{
            background-color: black;
        }

        
      </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="p-3 mb-2 text-white boda">
    <nav class="navbar navbar-color navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Excounting</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/GroupExpense/">Group Sharing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>

    <main>
        <p>YourID: <%= user.user_id%></p>
        <table class="table table-hover table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Group Name</th>
                <th scope="col">Group Leader</th>
                <th scope="col">Total Price</th>
                <th scope="col">Group Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < group.length; i++) { %>
              <tr>
                    <td><%= group[i].GroupName %></td>
                    <td><%= group[i].GroupLeader.firstname %>  <%= group[i].GroupLeader.lastname %></td>
                    <td><%= group[i].AmountToPaid %></td>
                    <td><%= group[i].GroupStatus %></td>
                    <td><a href="/GroupExpense/<%= group[i]._id%>">View Details</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        
    </main>

    <div id="Manage">
        <div id="CreateNewGroup">
            <button type="button" class="btn btn-monthly btn-sm" data-bs-toggle="modal" data-bs-target="#CreateGroup">
                Create New Group
            </button>

            <div class="modal fade" id="CreateGroup" tabindex="-1" role="dialog" aria-labelledby="CreateGroupLabel"
                aria-hidden="true" >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CreateGroupLabel">Create new Group</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/GroupExpense/create" method = "POST" style="background-color: black;">
                            <div class="modal-body">
                                <label>Group name:</label>
                                <input type="text" name="GroupName">
                                <label>Total cost:</label>
                                <input type="Number" name="TotalCost">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" >Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/logout" method="get">
        <button name="logout" value="logout" class="btn-logout">Logout</button>
    </form>
</body>

</html>